*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    height: 100%;
    background-image: url("images/dark.png");
    background-repeat: no-repeat;
    background-position: center;

}
body
{
    height: 100%;
}

#o-nas-logo{
    width: 190px;
    height: 65px;
}

#kontakt-logo{
    width: 240px;
    height: 65px;
}

.contain
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header
{
    min-height: 151px;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.middle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    overflow: scroll;
}


img#pruhy
{
    width: 100vw;
    height: 22.63px;
    position: fixed;
    bottom: 0px;

}

#pruhy_nahore
{
    width: 100vw;
    height: 22.08px;
    position: fixed;
    top: 129px;
}

img#zluta
{
    position: fixed;
    height: 80px;
    width: 100%;

}

#logo
{

    width: 250px;
    height: 81.66px;
    position: fixed;
    left: calc(50vw - 125px);

    top: 0;
}


#telefon
{
    width: 250px;
    height: 47px;
    position: absolute;
    left: calc(50vw - 125px);
    margin-top: 0;

    top: 82px;

}

.loga
{
    width: 170px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#biggerfied-picture
{
    width: 100%;
    height: 100%;
    filter: blur(0px) grayscale(0%);
    transform: scale(0);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    position: fixed;
    top: 150px;
    left: 0;
    background-color: white;
    visibility: hidden;
    z-index: 9001;
    overflow: scroll;
}

#cross
{
    font-weight: bolder;
    
    color: #ff0011;
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 3px;
    z-index: 9001;
}

#paragraph
{
    margin-top: 5vh;
    margin-bottom: 22vh;
    margin-left: 12vw;
    margin-right: 12vw;
    z-index: 9002;
    font-size: 1.2rem;
}

#first-ul
{
    font-size: 1.3rem;
}

#paragraph-headline
{
    text-decoration: underline;
    text-align: center;
}

ul
{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#pica{
    width: 100vw;
}

#demeter{
    width: 100vw;
}



body.biggerfied-picture-visible #biggerfied-picture
{
    transform: scale(1);
    visibility: visible;
}

/*!
* Pri velke sirce viewportu (v px) se logo zobrazi vlevo a telefon vpravo
*/
@media (min-width: 924px)
{


#demeter{
    position: fixed;
    left: 10px;
    bottom: 0;

    height: 50px;
    width: 400px;
}

#pica{
    height: 50px;
    width: 400px;
    position: fixed;
    top: calc(100% - 89px);
    left: 10px;
}
#kontakt-logo{
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 130px;
    height: 50px;
}
    #o-nas-logo{
        position: fixed;
        right: 16px;
        width: 90px;
        height: 45px;

        bottom: calc(0% + 40px);
    }


    #biggerfied-picture
    {
        top: 88.5px;

        height: calc(100% - 80.5px);
    }

    .header
    {
        min-height: 90.51px;
    }

    .middle
    {
        position: relative;
        top: -30px;
        display: grid;
        grid-template-columns: auto 170px 170px 170px auto;
        grid-template-rows: auto 200px 200px auto;
        grid-row-gap: 50px;
        grid-column-gap: 60px;

        overflow: hidden;
        grid-template-areas: "m m m m m "
        ". l1 l2 l3 ."
        ". l4 l5 l6 ."
        "l l l l l";
    }

    #logo1
    {
        grid-area: l1;
    }
    #logo2
    {
        grid-area: l2;
    }
    #logo3
    {
        grid-area: l3;
    }
    #logo4
    {
        grid-area: l4;
    }
    #logo5
    {
        grid-area: l5;
    }
    #logo6
    {
        grid-area: l6;
    }

    .loga:hover
    {
        cursor: pointer;
        transform: scale(1.2);

    }




    #telefon
    {
        height: 67px;
        width: 200px;
        position: fixed;
        top: 8px;
        left: calc(100vw - 210px);
        margin-right: 0;
        margin-top: 0;

    }


    .loga
    {
        transition-property: transform;
        transition-duration: 500ms;
        transition-delay: 100ms;
        transition-timing-function: ease-in-out;
    }

    img#zluta
    {
        left: calc(50vw - 300px);
        width: 600px;
        height: 90px;
    }

    #paragraph
    {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 0vh;
    }

}
