*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    height: 100%;
    background-image: url("images/dark.png");
    background-repeat: no-repeat;
    background-position: center;
}
body
{
    height: 100%;
}

.contain
{
    display: flex;
    flex-direction: column;
}

.header
{
    position: relative;
    overflow: hidden;
    height: 151px;

}
.middle
{

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
}

img#pruhy
{
    width: 100vw;
    height: 22.63px;
    position: fixed;
    bottom: 0px;

}

#pruhy_nahore
{
    width: 100vw;
    height: 22.08px;
    position: fixed;
    top: 129px;
}

img#zluta
{
    position: fixed;
    height: 130px;
    width: 100%;

}

#logo
{

    width: 310.8px;
    height: 81.66px;
    position: fixed;
    left: 50%;
    margin-left: -155.4px ;

    top: 15px;
}

#telefon
{
    width: 310.8px;
    height: 42.65px;
    position: fixed;
    right: 50%;
    margin-right: -155.4px ;

    top: 95px;

}

.loga
{
    width: 170px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#biggerfied-picture
{
    width: 100%;
    height: calc(100% - 173px);
    filter: blur(0px) grayscale(0%);
    transform: scale(0);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    position: fixed;
    top: 151px;
    left: 0;
    background-color: #323436;
    visibility: hidden;
    z-index: 9001;
}

#cross
{
    font-weight: bolder;
    color: #ff0011;
    position: absolute;
    cursor: pointer;
    top: 4%;
    left: 2.5%;
    z-index: 9001;
}

body.biggerfied-picture-visible #biggerfied-picture
{
    transform: scale(1);
    visibility: visible;
}

/*!
 * Zobrazeni stranek pri velke sirce viewportu (v px)
 */
@media (min-width: 1124px)
{

    #biggerfied-picture
    {
        top: 88.5px;
        height: calc(100% - 110.5px);
    }

    .header
    {
        height: 120px;
    }

    .middle
    {
        display: grid;
        grid-template-columns: auto 170px 170px 170px auto;
        grid-template-rows: auto 200px 200px auto;
        grid-row-gap: 50px;
        grid-column-gap: 60px;

        grid-template-areas: "m m m m m "
                             ". l1 l2 l3 ."
                             ". l4 l5 l6 ."
                             "l l l l l";
    }

    #logo1
    {
        grid-area: l1;
    }
    #logo2
    {
        grid-area: l2;
    }
    #logo3
    {
        grid-area: l3;
    }
    #logo4
    {
        grid-area: l4;
    }
    #logo5
    {
        grid-area: l5;
    }
    #logo6
    {
        grid-area: l6;
    }

    .loga:hover
    {
        cursor: pointer;
        transform: scale(1.2);

    }

    /*!
     * Logo se zobrazi v leve casti stranky, telefon v prave
     */
    #logo
    {
        height: 70px;
        width: 225px;
        position: fixed;
        top: 0;
        left: 3vw;
        margin-left: 0;
    }

    #telefon
    {
        height: 70px;
        width: 225px;
        position: fixed;
        top: 0.8vh;
        right: 3vw;
        margin-right: 0;


    }

    #pruhy_nahore
    {

        height: 22.63px;
        position: fixed;
        top: 67px;

    }

    .loga
    {
        transition-property: transform;
        transition-duration: 500ms;
        transition-delay: 100ms;
        transition-timing-function: ease-in-out;
    }

    img#zluta
    {
        width: 100%;
        height: 67.89px;
    }

}